:root {
  /* Palette claire (default) */
  --bleu-fonce:     #0d47a1;
  --bleu-glacier:   #64b5f6;
  --blanc-casse:    #f0faff;
  --gris-bleute:    #dbeafe;
  --bleu-pastel:    #b3e0ff;
  --gris-fonce:     #21304e;
  --font-color:    rgb(41, 41, 41);
}

body.dark-mode {
  /* Palette sombre */
  --bleu-fonce:     #101c3a;
  --bleu-glacier:   #325a85;
  --blanc-casse:    #232c3a;
  --gris-bleute:    #162033;
  --bleu-pastel:    #234366;
  --gris-fonce:     #f0faff;
  --font-color:    rgb(216, 216, 216);
}


body{
  background-color: var(--blanc-casse);
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: poppins, sans-serif;
  color: var(--font-color);
}

header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--bleu-pastel);
  border-bottom: var(--bleu-glacier) 0.2rem solid;
  height: 4rem;
  width: 100%;

}

.title_logo {
  display: flex;
  flex-direction: row;
  margin-top: 0.01rem;
}
.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 1rem;
}
.research_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search_bar {
  width: 20rem;
  height: 2.5rem;
  border-radius: 5rem;
  border: none;
  padding-left: 1rem;
  font-size: 1rem;
  color: rgb(41, 41, 41)
}

.search_bar:focus {
  outline: none;
}

.theme_switch {
  margin-top: 0.7rem;
  width: 5.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  cursor: pointer;
  height: 2.5rem;
  border-radius: 5rem;
  border: none;
}